/**/

.page__content {
    background-color: rgba(167, 176, 0, 0.66);
}
.page__background
{
    background-color: rgb(105, 142, 45);
}
ons-fab{
    width: 0px!important;
}
.fab__icon{
    display: none;
}
ons-toolbar.toolbar {
    background-color: rgba(167, 176, 0, 0.66);
}
ons-list-item.list-item {
    background-color: rgba(119, 197, 32, 0.35);
    color: black;
}
ons-button.button--material.button {
    border-radius: 50%;
    margin: 0 2px 0 2px;
    background: #6495ed8a;
    float: right;
}
span.ayah_id {
        padding: 5px;        
        border-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;        
        min-width:20px;
        
        font-size:small;
        color: black;
        margin: 5px;
}

.ayah_text.arabic {
    font-size: xx-large;    
    line-height: normal;
}
.arabic {
    text-align: right;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

span.qavs_ichi {
    display: none;
    color: darkgreen;
}

span.ayah_symbol {
  display: grid;
    font-size: x-large;
}



span.ayah_text {
    text-align: justify;
}
.center.list-item__center.arabic {
   width: 40vw;
    text-align: right;
    font-size: x-large;
}
ons-card.card {
    background-color: olive;
    color: aliceblue;
}
.zmdi-bookmark-outline{
    float: right;
    color: midnightblue;
}
.zmdi.zmdi-code-setting {
    color: steelblue;
}

.zmdi.zmdi-bookmark {
    color: midnightblue;
}

ons-speed-dial-item.fab.fab--mini.speed-dial__item.speed-dial__item--mini {
    background-color: rgba(0, 0, 128, 0.2);
    right: -18px;
}
.center-content {
    text-align:  center;
    padding: 10px;
}


.gridview ons-list-item.list-item {
    background-color: rgba(119, 197, 32, 0.35);
    color: black;
    width: 48vw;
    float: right;
    margin: 1vw;
    padding: 0px;
    min-height: 3em;
    font-size: small;
    border-radius: 5px;
}
.gridview  span.ayah_id {
    padding: 4px;
    /* display: none; */
    box-shadow: inset 1px 1px 1px 1px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 20px;
    margin: 9px;
    min-width: 20px;
    text-align: center;
    font-size: xx-small;
    color: green;
}
.gridview  .center.list-item__center.arabic {
    width: 40vw;
    text-align: right;
    font-size: large;
}
