/**/

.page__content {
    background-color: rgba(167, 176, 0, 0.66);
}
.page__background
{
    background-color: rgb(105, 142, 45);
}

ons-toolbar.toolbar {
    background-color: rgba(167, 176, 0, 0.66);
}
ons-list-item.list-item {
    background-color: rgba(119, 197, 32, 0.35);
    color: black;
}
span.ayah_id {
        padding: 5px;
        display: block;
        box-shadow: inset 1px 1px 1px 1px;
        border-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 25px;
        min-width:20px;
        text-align:center;
        font-size:small;
        color: green;
}

.ayah_text.arabic {
    font-size: xx-large;    
    line-height: normal;
}
.arabic {
    text-align: right;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

span.qavs_ichi {
    display: none;
    color: darkgreen;
}

span.ayah_symbol {
  display: grid;
    font-size: x-large;
}



span.ayah_text {
    text-align: justify;
}
.center.list-item__center.arabic {
   width: 40vw;
    text-align: right;
    font-size: x-large;
}
ons-card.card {
    background-color: olive;
    color: aliceblue;
}